.message {
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    align-items: flex-end;

    font-family: 'Montserrat', sans-serif;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.imageAndText img {
    width: 65px;
    height: 65px;
    margin: 15px;
}

.text {
    background-color: #2350b0;
    box-shadow: -1px 1px 1px 1px #212A34;

    position: relative;
    padding: 10px;
    margin: 15px 0;

    border-radius: 10px 10px 0 10px;
}

.text:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 100%;
    display: block;
    width: 20px;
    height: 20px;
    background: radial-gradient(40px at top right, transparent 50%, rgba(35 80 176) 0) no-repeat right bottom;
    box-shadow: 0 2px 0 0 #212a34;
}

.name {
    color: #f0f8ff;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: end;
}

.messageText {
    color: #f0f8ff;
    white-space: normal;
    width: 290px;
    text-align: end;
}

.time {
    color: rgba(45, 112, 237, 0.67);
    padding-right: 10px;
    padding-bottom: 10px;
}