.buttonsContainer {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.responseContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;
}

.imageContainer {
    margin-right: 30px;
}

.image {
}

.textContainer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.code {
    font: inherit;
    font-size: 30px;
    line-height: 37px;

    padding-bottom: 40px;
}

.text {

}

.info {
}