.spanBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0 22px 0;
}

.span {
    margin-left: 20px;
    color: #0080FF;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

}

.inputClassName {
    margin-bottom: 12px;
}

.pen {
    width: 24px;
    height: 24px;
}