.friendMessage {
    display: flex;
    justify-content: start;
    align-items: flex-end;

    font-family: 'Montserrat', sans-serif;
}

.friendImageAndText {
    display: flex;
    justify-content: start;
}

.friendImageAndText img {
    width: 65px;
    height: 65px;
    margin: 15px;
}

.friendText {
    background-color: #ababab;
    box-shadow: 1px 1px 1px 1px #212A34;

    position: relative;
    padding: 10px;
    margin: 15px 0;

    border-radius: 10px 10px 10px 0;
}

.friendText:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    display: block;
    width: 20px;
    height: 20px;
    background: radial-gradient(40px at top left, transparent 50%, rgba(171 171 171) 0) no-repeat right bottom;
    box-shadow: 0 2px 0 0 #212a34;
}

.friendName {
    color: #f0f8ff;
    font-weight: bold;
    margin-bottom: 5px;
}

.friendMessageText {
    color: #f0f8ff;
    white-space: normal;
    width: 290px;
}

.friendTime {
    color: rgba(45, 112, 237, 0.67);
    padding-left: 10px;
    padding-bottom: 10px;
}
